{{ define "main" }}
<div class="td-content">
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
    <div class="text-muted">
        {{ .Params.author }} – <a href="https://gitlab.com/cki-project/documentation/-/merge_requests/{{ .Params.mr }}">cki-project/documentation!{{ .Params.mr }}</a>
    </div>
    {{ .Content }}
    <div class="text-muted mt-5 pt-3 border-top">{{ partial "page-meta-lastmod.html" . }}</div>
</div>
{{ end }}
